<section id="one" class="tiles">
  {% for post in site.posts limit:site.tiles-count %}
  {% if site.tiles-source == 'posts' %}
  <article>
    <span class="image">
      <img src="{{ post.image }}" alt="" />
    </span>
    <header class="major">
      <h3><a href="{{ post.url  | relative_url }}" class="link">{{ post.title }}</a></h3>
      <p>{{ post.description }}</p>
    </header>
  </article>
  {% endif %}
  {% endfor %}
  {% for page in site.pages limit:site.tiles-count %}
  {% if site.tiles-source == 'pages' and page.show_tile != false %}
  <article>
    <span class="image">
      <img src="{{ page.image }}" alt="" />
    </span>
     <div class="content">
            <svg viewBox="0 0 600 300">

                <!-- Symbol -->
                <symbol id="s-text">
                    <text text-anchor="middle" x="50%" y="50%" dy=".35em">
                        Text
                    </text>
                </symbol>

                <!-- Duplicate symbols -->
                <use xlink:href="#s-text" class="text"></use>
                <use xlink:href="#s-text" class="text"></use>
                <use xlink:href="#s-text" class="text"></use>
                <use xlink:href="#s-text" class="text"></use>
                <use xlink:href="#s-text" class="text"></use>

            </svg>
    <header class="major">
      <h3><a href="{{ page.url | relative_url  }}" class="link">{{ page.title }}</a></h3>
      <p>{{ page.description }}</p>
    </header>
  </article>
  {% endif %}
  {% endfor %}
</section>
